button{
    width: fit-content;
}
form{
    width: fit-content;
}
#item::placeholder{
    color:white;
}
#item{
    padding: 0 15px;
    outline: none;
    color: white
}
.checked::after{
    content: 'delete';
    margin-left: 10px;
}
/* li::before{
    content:"f0ec";
    margin: 0 20px 0 0;
} */
li:hover {
    cursor: pointer;
}

.checked{
    color:lightgreen;
}
li:hover .checked::after{
    content: 'delete';
    margin-left: 10px;

}